body {
	/* Regular font color (used for paragraphs and all text besides the headings): #777777 */
	color: #77777;
	/* For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;. */
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/* text-align property specifies the horizontal alignment of text in an element. */
	text-align: left;
	/* ine-height property specifies the line height. */
	line-height: 20px;
}
/* style Artem Tregubchak*/
	header	{
	/* make background color */
	background-color: #4aaaa5;
	border-bottom: none;
	/* make about|portfolio|contact locate right from Artem Tregubchak */
	float: left;
	/* make Artem Tregubchak white */
	color: #ffffff;
	height: 100%;
	vertical-align: top;
	/* create the width of Artem Tregubchak */
	width: 270px;
	/* locate Artem Tregubchak 130px left */
	margin-left: 130px;
	/* font for Artem Tregubchak */
	font-family: Corben;
	/* locate Artem Tregubchak in the center and in the middle*/
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-weight: bold;
	padding-top: 40px;
}

